.nav-container{
    display: grid;
    width: 100vw;
    height: 50px;
    grid-template-columns: 100px 700px 200px 1fr ;
    background-color: #BAD9F1;
    position: fixed;
    z-index: 5;
    border: 1px solid black;
    
}
.colum-barra{
    border-left: 1px solid black;
     position: relative;
     left: 120px;
}
.colum{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-buscar{
   
  background-image: url("../imagenes/lupa\ Con\ huella.svg");
  width: 40px;
  height:30px;;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-x: 5px;
  background-color: #82F377;
  border:1px solid #82F377;
  border-radius: 5px;
  cursor: pointer;
    
}
.btn-buscar:hover{
    background-color: #3DF12C;
    border:1px solid #3DF12C;
}
.input-search{
    font-family: 'Comfortaa', cursive;
    width: 400px;
    border: 1px solid black;
    padding-left: 5px;
}

.text-nav{
 color: #135A98;
 position: relative;
 left: 80px;
 
}
.btn-cerrar{
    border: none;
    color: #135A98;
    background-color: #BAD9F1;
    font-family: 'Comfortaa', cursive;
    cursor:pointer;
    position: relative;
    top: 15px;
    left: 35px;
    font-size: 15px;

}
.text-nav:hover{
    background-color: #78B0E1;
    
}

.btn-cerrar:hover{
    background-color: #78B0E1;
}
/* lista publicacion */
.cajapublicacion{
    height: 100vh;
    width:500px;
    background-color: #BAD9F1;
    border: 1px solid #BAD9F1;
    position: relative;
    top: 80px;
    margin-left: 50px;
}
.publicaciondenuncia-container{
   display: grid;
   height: 200px;
   width:500px;
   background-color: #BAD9F1;
   position: relative;
   top: 30px;
   grid-template-columns: 70px 1fr;

}
.titulopublicaciones{
    margin-left: 120px;
}
.imagen-denuncia{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    object-fit: cover;
    left:40px;
    position: relative;
    top: 5px;
}
.nombre-denuncia{
   font-size: 20px;
   top: 10px;
   position: relative;
   left: 50px;;
}
.text-denuncia{
    font-size: 15px;
    position: relative;
    left: 60px;
    top: 10px;
}
.descripcion-denuncia{
    font-size: 12px;
    top: 15px;
    position: relative;
    left: 80px;


}
.btn-moderar{
    height: 35px;
    width: 150px;
    border-radius: 15px;
    border:1px solid #0B5774;
    background-color: #0B5774;
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 40px;
    left: 200px;

}
.btn-moderar:hover{
    background-color: #6CBCDB;
    color: black;
}
.comentariodenuncia{
    height: 100vh;
    width:500px;
    background-color: #BAD9F1;
    border: 1px solid #BAD9F1;
    position: relative;
    bottom: 548px;
    left: 700px;
}